*
!*.*
!*/
### Above combination will ignore all files without extension ###

# Ignore project artifacts
dist/
test/
tmp/
.vscode

# Ignore webserver artifacts
webserver/build
webserver/node_modules

# Ignore known sensitive file types
*.yaml
*.yml
*.csv
*.db
*.log
*.txt
*.toml
!.goreleaser.yaml
!.air.toml
