checkrr:
  checkpath: 
    - "./test"
  database: ./checkrr.db
  removeunknownfiles: true
  debug: true
  csvfile: "./badfiles.csv"
  logfile: "./checkrr.log"
  logjson: false
  cron: "@daily"
  logjson: false
  ignorehidden: true
  ignoreexts:
    - .txt
    - .nfo
    - .nzb
    - .url
radarr:
  process: false
  address: ""
  apikey: ""
  baseurl: /
  port: 7878
sonarr:
  process: false
  address: 127.0.0.1
  apikey: ""
  baseurl: /
  port: 8989
lidarr:
  process: false
  address: 127.0.0.1
  apikey: ""
  baseurl: /
  port: 8686
notifications:
  discord:
    url: ""
    notificationtypes: 
      - reacquire
      - unknowndeleted
      - unknowndetected
      - startrun
      - endrun
  healthchecks:
    url: ""
    notificationtypes:
      - startrun
      - endrun
      - reacquire
