[Unit]
Description=Checkrr checks media libraries for corruption

[Service]
User=checkrr
Group=checkrr
Type=exec
ExecStart=/usr/bin/checkrr -c /etc/checkrr.yaml

[Install]
Wants=remote-fs.target.wants
WantedBy=multi-user.target
